<span class='input-group-btn'>
  <%= select_tag :cat_id,
      options_from_collection_for_select(Category.all, :id, :name),
      {prompt: 'All',
      :class => 'btn btn-default resizeselect',
      :style => '-moz-appearance: none; -webkit-appearance: none;'} %>
</span>
<%= text_field_tag :q, params[:q], class: 'form-control', autofocus: autofocus || false %>
<span class='input-group-btn'>
  <%= button_tag(type: :submit, class: 'btn btn-default') do %>
    <span class='glyphicon glyphicon-search'> </span>
  <% end %>
</span>
