<% title "#{@article.title}" %>
<div class="container">
  <div class="pull-right">
    <% if user_signed_in? %>
      <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-default' %>
    <% end %>
  </div>
  <h1 class="page-header"><%= @article.title %></h1>
  <div class="col-md-12">
    <% @article.blocks.each do |block| %>
      <%= render partial: "articles/blocks/#{block.slug}", locals: {block: block.specific} %>
    <% end %>
  </div>
  <div class='col-md-12'>
    <hr>
    <h3>
      Related Pages:
    </h3>
    <% @related = Article.first(5) if @related.blank? %>
      <ul>
        <% @related[1..6].each do |article| %>
          <li>
            <%= link_to article.title, article %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
