<% title "#{@category.name}" %>
<div class="container">
  <div class="jumbotron">
    <h2><%= @category.name %></h2>
    <p style="text-align:left;">
    <%= @category.description %>
    </p>
  </div>
  <hr>
  <div class="container" style="padding:10px;">
	<% @category.subcategories.each do |subcategory| %>
	<div class="col-sm-4" >
	  <div class="intrinsic-container">
		<h4><strong>
		<%= link_to subcategory.name, subcategory %>
		</strong></h4>
		<p>
		<%= subcategory.description %>
		</p>
	  </div>
	  <hr>
	</div>
	<% end %>

  </div>
</div>
