<div class="intrinsic-container center-block">
<iframe class='diagram center-block' width="<%= block.width %>" height="<%= block.height %>" style="max-width:97.3%;" align="center" frameborder="0" src-a="<%= '/article_diagram_blocks/' + block.id.to_s %>" sandbox='allow-scripts'></iframe>
</div>
<p align=center><%= block.caption %></p>
