<br>
<div class="center-block" style="width:76.94%;">
<div class="video-container">
<iframe src="<%= block.embeddable_url() %>" frameBorder="0" class="center-block" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</div>
<br>
